@import 'src/scss/common';

.main-layout {
  display: flex;
  min-height: 100vh;
  width: 100%;

  .layout-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;

    .layout-body {
      flex-grow: 1;
      // Fixing Layout Shift while reloading
      // min-height: calc(100vh - #{$header-height});
    }
  }
}
