@import "./scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: $body-background;
  color: $body-font-color;
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
  font-size: $body-font-size;
  box-sizing: border-box;
}

/* General ========================================================================== */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

// Headers
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 600;
  line-height: 1.2;
}
h1 {
  font-size: map-get($header-sizes, "h1");
  @media (max-width: $screen-sm) {
    font-size: map-get($header-sizes-sm, "h1");
  }
}
h2 {
  font-size: map-get($header-sizes, "h2");
  @media (max-width: $screen-sm) {
    font-size: map-get($header-sizes-sm, "h2");
  }
}
h3 {
  font-size: map-get($header-sizes, "h3");
  @media (max-width: $screen-sm) {
    font-size: map-get($header-sizes-sm, "h3");
  }
}
h4 {
  font-size: map-get($header-sizes, "h4");
  @media (max-width: $screen-sm) {
    font-size: map-get($header-sizes-sm, "h4");
  }
}
h5 {
  font-size: map-get($header-sizes, "h5");
  @media (max-width: $screen-sm) {
    font-size: map-get($header-sizes-sm, "h5");
  }
}
h6 {
  font-size: map-get($header-sizes, "h6");
  @media (max-width: $screen-sm) {
    font-size: map-get($header-sizes-sm, "h6");
  }
}

// Font Sizes
.fs-p7 {
  font-size: 0.7em;
}
.fs-p8 {
  font-size: 0.8em;
}
.fs-p9 {
  font-size: 0.9em;
}
.fs-1 {
  font-size: 1em;
}
.fs-2 {
  font-size: 2em;
}
// Font Weight
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
